<ion-header>
  <ion-navbar color="customCol">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Transport Fee</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of pendingList">

    <ion-card-header style="font-size: 1.8em; padding: 5px;">
      <ion-row>
        <ion-col col-6>{{item.title}}</ion-col>
        <ion-col col-6 style="text-align: right;">
          <ion-badge style="font-size: 1.1em;" *ngIf="item.status === 'Paid'" color="secondary">{{item.status}}
          </ion-badge>
          <ion-badge style="font-size: 1.1em;" *ngIf="item.status !== 'Paid'" color="danger">{{item.status}}</ion-badge>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content style="padding: 5px">
      <ion-row>
        <ion-col col-6>
          <p style="font-size: 1.3em;" *ngIf="item.status === 'Paid'">{{item.date | date:'short'}}</p>
        </ion-col>
        <ion-col col-6 style="text-align: right;">
          <p style="font-size: 1.3em;" *ngIf="item.status === 'Paid'">{{item.amount}}</p>
          
          <button ion-button *ngIf="item.status !== 'Paid'" (click)="paynow()">Pay Now</button>
        </ion-col>
      </ion-row>
    </ion-card-content>

  </ion-card>
</ion-content>