<ion-header>
  <ion-navbar color="customCol">
    <ion-title>Bus Tracking   
    </ion-title>
    <ion-buttons end>
      <span style="font-size: small;" slot="end" style="color: white;">
        {{last_ping_on}}
     </span> 
     </ion-buttons> 
  </ion-navbar>
  
</ion-header>
<ion-content>
  <div id="map_canvas_single_device" style="height: 100%; width: 100%;">
    <ion-fab top right>
      <button ion-fab color="light" mini (click)="onClickMainMenu()">
        <ion-icon color="gpsc" name="map"></ion-icon>
      </button>
      <ion-fab-list side="bottom">
        <button style="margin: 0 2px;" ion-fab mini (click)="onClickMap('HYBRID')" color="gpsc">
          S
        </button>
        <button style="margin: 1px 0px 1px 0px;" ion-fab mini (click)="onClickMap('TERRAIN')" color="gpsc">
          T
        </button>
        <button style="margin: 1px 0px 1px 0px;" ion-fab mini (click)="onClickMap('NORMAL')" color="gpsc">
          N
        </button>
      </ion-fab-list>
    </ion-fab>
    <ion-fab left style="margin-top:85%">
      <button ion-fab color="gpsc" mini (click)="refreshMe()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-fab>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="light-grey">
    <ion-row style="letter-spacing: 1.2px">
      <ion-col col-6>
        <ion-row>
          <ion-col col-3>
            <img src="assets/imgs/driver.png" style="border-radius: 50%;" />
          </ion-col>
          <ion-col col-9>
            <ion-row>
              <ion-col col-12 no-padding style="font-size: 3.5vw;">
                <b>{{_commonVar.paramData.scheduleschools.driverDetail.first_name}}</b> </ion-col>
              <ion-col col-12 no-padding style="font-size: 3.5vw;"
                (click)="dialNumber(_commonVar.paramData.scheduleschools.driverDetail.phone)">
                {{_commonVar.paramData.scheduleschools.driverDetail.phone}}
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3 style="text-align: center">
            <img src="assets/imgs/school-bus.png" style="width:60%; height: auto;">
          </ion-col>
          <ion-col col-9>
            <ion-row>
              <ion-col col-12 style="font-size: 3.5vw; padding-top: 3px; padding-left: 0px; padding-right: 5px; overflow: hidden;">
                <b>{{_commonVar.paramData.scheduleschools.schoolVehicles.device.Device_Name}}</b>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-6>
        <ion-row>
          <ion-col col-3>
            <img src="assets/imgs/time.png" />
          </ion-col>
          <ion-col col-9>
            <ion-row>
              <ion-col col-12 no-padding>
                <ion-badge color="customCol" style="font-size: 3.5vw;">{{_commonVar._eta.duration}}</ion-badge>
              </ion-col>
              <ion-col col-12 no-padding style="font-size: 3.5vw;"
                (click)="dialNumber(_commonVar.paramData.scheduleschools.driverDetail.phone)">
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3 style="text-align: center">
            <img src="assets/imgs/telemarketer.png" style="width:60%; height: auto;">
          </ion-col>
          <ion-col col-9>
            <ion-row>
              <ion-col col-12 (click)="dialNumber(8956628472)"
                style="font-size: 3.5vw; padding-top: 3px; padding-left: 0px; padding-right: 5px;">
                <b>8956628472</b>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
<!-- <ion-footer>
  <ion-toolbar color="customCol">
    <ion-row>
      <ion-col col-33>
        <p style="font-size: 1.2em; margin: 0px; padding:0px; color:#fff;" *ngIf="!vehicle_speed">Speed 0 km/h</p>
        <p style="font-size: 1.2em; margin: 0px; padding:0px;; color:#fff;" *ngIf="vehicle_speed">Speed {{vehicle_speed}} km/h</p>
      </ion-col>
      <ion-col col-66>
        <p style="font-size: 1.2em; margin: 0px; padding:0px; color:#fff;" *ngIf="!todays_odo">Today Distance 0 km/h</p>
        <p style="font-size: 1.2em; margin: 0px; padding:0px; color:#fff;" *ngIf="todays_odo">Today Distance {{todays_odo | number : '1.0-2'}} km</p>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer> -->
