<ion-menu [content]="content">
    <ion-header>
        <!-- <ion-toolbar>
            <ion-title>Menu</ion-title>
        </ion-toolbar> -->
    </ion-header>

    <ion-content id="outerNew">
        <div class="headProf" #headerTag ion-fixed>
            <img *ngIf="!fileUrl" src="assets/imgs/dummy_user.jpg" />
            <img *ngIf="fileUrl" src="{{fileUrl}}" />
            <div>
                <h4>{{islogin.fn}}&nbsp;{{islogin.ln}}</h4>
                <p style="font-size: 12px">
                    <ion-icon name="mail"></ion-icon>&nbsp;{{islogin.email}}
                </p>
                <p style="font-size: 12px">
                    <ion-icon name="call"></ion-icon>&nbsp;{{islogin.phn}}
                </p>
            </div>
        </div>
        <div #scrollableTag style="margin-top: 65%;">
            <ion-list>
                <!-- <ion-item> -->
                    <button ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)" style="background-color: transparent; color: white;">
                        <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
                        {{ p.title }}
                    </button>
                <!-- </ion-item> -->
            </ion-list>
        </div>
    </ion-content>
</ion-menu>

<!-- main navigation -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>